<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>sy4</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>zhuceServlet</display-name>
		<servlet-name>zhuceServlet</servlet-name>
		<servlet-class>Servlet.zhuceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>zhuceServlet</servlet-name>
		<url-pattern>/zhuceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>logServlet</display-name>
		<servlet-name>logServlet</servlet-name>
		<servlet-class>Servlet.logServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logServlet</servlet-name>
		<url-pattern>/logServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>codeFilter</display-name>
		<filter-name>codeFilter</filter-name>
		<filter-class>filter.codeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>codeFilter</filter-name>
		<url-pattern>/codeFilter</url-pattern>
	</filter-mapping>
</web-app>